@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b1016;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .glass-panel {
    @apply bg-devshare-panel/80 backdrop-blur-md border border-devshare-border shadow-lg;
  }
}
